.grid {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
}

@media (min-width: 450px) {
  .grid {
    max-width: 280px;
    padding: 0;
  }
}

.grid__row {
  display: flex;
  column-gap: 4px;
}

.grid__tile {
  flex: 1 0 52px;
  aspect-ratio: 1/1;
  min-height: 52px;
  border: 2px solid #373739;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.grid__tile--not-in-the-word {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}

.grid__tile--incorrect-place {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.grid__tile--correct-place {
  background-color: #538d4e;
  border-color: #538d4e;
}
