* {
  box-sizing: border-box;
}

body {
  background-color: #121213;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  color: #f8f8f8;
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
